.nav-title{
    font-weight: 900;
    font-size: xx-large;
}
.nav-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
} 
.secondary-bg{
    background-color: #FFF8F3;

}
.btn-primary{
    background-color: #FD6E0A;
 font-weight: 900 ;
 color: white;
 width: 150;
 height: 64;
 padding: 18px 35px 19px 36px;
 border-radius: 5px;
 font-size: 20px;
 border: none;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: #FD6E0A;
}
nav ul li{
    
    list-style: none;
    
}
nav ul li a {
text-decoration: none;
font-size: 20px;
}
.dark-2{
    color: #474747;
}
ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-gretings{
    font-weight: 600;
    font-size: 45px;
}
.banner-titles{
    font-size:85px;
    font-weight: bold;
}
.banner-image{
    width="584 px" height="676 px"
}
.banner-content{
    max-width: 580px;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
    background-color:#FFF8F3 ;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
/* main style */
main{
    max-width: 1140px ;
    margin: 0 auto;
    
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* skills style */
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume-style */
.resume-container{
     display: flex;
     gap: 24px;
    }
.experience-description{
color: #757575;
}
.experience-sub-title{ font-size: 20px;
font-weight: 400;
margin-bottom: 30px;
}
.text-center{
    margin-top: 50px;
}
/* fotter style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.fotter-collum{
    width: 50%;
}
footer input[type="text"] ,footer input[type="email"] ,footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
